*{
    margin: 0%;
    padding: 0%;
    
}

.fullbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    background-color: rgb(33 32 32);
}
.mainCanvas{
    display: flex;
    flex-wrap: wrap;
    border: 6px solid black;
    background-color: rgb(255, 81, 95);
    width: 40rem;
    height: 40rem;
}

#mainCanvas .customBoxes.RED{
    background-color: rgb(255, 7, 7)  !important;
}

.settings{
    display: flex;
    flex-direction: column;
    background-color: beige;
    margin: 1rem;
    padding: 1rem;
    gap: 0.6rem;
}
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(236, 9, 9);
    padding: 0.6rem;
    gap: 0.5rem;
}

.option{
    
    padding: 0.5rem;
    background-color: rgb(252, 104, 104);
}
.option:hover{
    background-color: rgb(30, 245, 173);
}

.color{
    margin: 1rem;
    display: none;
}