*{
    margin: 0%;
    padding: 0%;
    
}

.fullbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    background-color: rgb(33 32 32);
}
.mainCanvas{
    display: flex;
    flex-wrap: wrap;
    border: 6px solid black;
    background-color: rgb(255, 81, 95);
    width: 30rem;
    height: 30rem
}

#mainCanvas .customBoxes#toggle{
    background-color: rgb(7, 226, 255)  !important;
}

