*{
    margin: 0%;
    padding: 0%;
    
}
h3{
    margin: 0rem;
    color: #00DFA2;
    font-family: 'Nunito', sans-serif;
}

.fullbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    background-color: rgb(33, 96, 179);
}
.mainCanvas{
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    border: 6px solid black;
    background-color: rgb(255, 255, 255);
    width: 40rem;
    height: 40rem;
}

#mainCanvas .customBoxes.RED{
    background-color: rgb(255, 7, 7)  !important;
}

.settings{
    position: fixed;
    top: 15px;
    left: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 32, 77);
    margin: 1rem;
    padding: 1rem;
    gap: 0.6rem;
}
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 15, 36);
    border-radius: 16px;
    padding: 0.6rem;
    gap: 0.5rem;
    width: 17rem;
  
}

.option{
    border-radius: 40px;
    padding: 0.5rem;
    background-color: #00DFA2;
}
.option:hover{
    background-color: rgb(13, 110, 78);
}

.color{
    margin: 0rem;
   display: flex;
   gap: 5px;
}
#colorOptions{
    flex-direction: column;
    margin-top: 0.4rem;
    display: none;
}

.paintBrushMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(4, 15, 36);
    border-radius: 16px;
    
}
.size{
    border-radius: 13px;
    background-color: #00DFA2;
    padding: 0.6rem;
}

.size:hover{
    background-color:rgb(13, 110, 78);
}




